/*.c{
	display: inline-block;
	background: #7f1313;
	margin: 0 15px 50px 15px;
	font-size: 15px;
	}
*/

body{
	color:#fff;
	align-items: center;

}

.a{width: 110px; height: 110px; background: #7f1313; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px; }
.b{width: 110px; height: 110px; background: #480a0a; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.c{width: 110px; height: 110px; background: #d30909; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.d{width: 110px; height: 110px; background: #492b2b; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.e{width: 110px; height: 110px; background: #200404; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.f{width: 110px; height: 110px; background: #530303; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.g{width: 110px; height: 110px; background: #ee0707; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}
.h{width: 110px; height: 110px; background: #2e1717; display: inline-block; margin: 0 15px 50px 15px; font-size: 15px;}