body{
	color:#fff;
	align-content: center;
}

.z {
	display: inline-block;
	margin: 15px 15px 50px 15px;
	font-size: 15px;
	font-weight: bold;
	font: Helvetica;
}


.c1 {
	width: 110px; 
	height: 110px;
}

.a { background: #7f1313; }
.b { background: #480a0a; }
.c { background: #d30909; }
.d { background: #400505; }
.e { background: #d31818; }
.f { background: #530303; }
.g { background: #ee0707; }
.h { background: #d64f4f; }