* {
	box-sizing: border-box;
	vertical-align: top;
}

body{
	margin: 0;
	padding: 0;
	background: #eaeaea;
	height: 1700px;
}

html,body{ width: 100%; }
/*
.body{
	background: #eaeaea;
	font-size: 0;
}*/

.body{
	height:500px;
}

.head{
	font-size: 200px; 
	color: #363535;
	font-family: helvetica neue;
	font-weight: bold;
	text-align: center;
	margin: 0 0 150px 0;
}

.text{
	font-size: 20px;
	font-family: helvetica neue;
	font-weight: thin;
	margin:0 0 50px;
	color: #000;
}

.sec1{
	font-size: 50px;
	font-family: helvetica neue;
	font-style: italic;
	margin: 0px 0 50px 0;
	cursor: pointer;
}

.dep{
	color: #01a7de;
}

.ang{
	margin-left: 200px;
	color: #ff0000;
}

.anx{
	margin-left: 400px;
	color: #5a5a5a;
}

.man{
	margin-left: 600px;
	color: #c4e02b;
}

.eup{
	margin-left: 800px;
	color: #e136c3;
}

.hide{
	display: none;
}

a:link, a:visited, a:active{
	color: #000;
	font-family: helvetica;
	margin: 500px 0 0 500px;
}